/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.search-bar {
    margin-top: 1rem;
}

#stockSymbol {
    padding: 0.5rem;
    width: 250px;
}

#searchButton {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

section.content {
    max-width: 1200px;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    width: 80%;
    margin-top: 2rem;
}

.comparison-table {
    margin-top: 2rem;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 1rem;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .chart-container, .comparison-table {
        width: 100%;
    }
}

#stockData {
    background-color: gainsboro;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}