.final-design-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.final-design-final-design {
  width: 100%;
  height: 4016px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-landing-page {
  top: -3px;
  left: -45px;
  width: 1440px;
  height: 1280px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-text {
  top: 44px;
  left: 96px;
  color: var(--dl-color-default-color2);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Quella;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame1 {
  gap: 48px;
  top: 48px;
  left: 334px;
  width: 315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.final-design-text002 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text004 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text006 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame2 {
  gap: 48px;
  top: 48px;
  left: 1128px;
  width: 216px;
  display: flex;
  position: absolute;
  align-items: center;
}
.final-design-cart {
  width: 24px;
  height: 24px;
}
.final-design-person {
  width: 24px;
  height: 24px;
}
.final-design-line1 {
  width: 24px;
  height: 1px;
}
.final-design-filter-right {
  width: 24px;
  height: 24px;
}
.final-design-frame3 {
  top: 123px;
  left: 96px;
  width: 1248px;
  height: 512px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: var(--dl-color-default-color1);
}
.final-design-frame9 {
  gap: 48px;
  top: 48px;
  left: 48px;
  width: 512px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-frame7 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text008 {
  color: rgba(0, 0, 0, 1);
  width: 512px;
  height: auto;
  font-size: 64px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 64px;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame6 {
  gap: 48px;
  display: flex;
  align-items: center;
}
.final-design-frame4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text010 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text012 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-line2 {
  width: 64px;
  height: 1px;
}
.final-design-frame5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text014 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text016 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame8 {
  width: 449px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-text018 {
  top: 18px;
  left: 18px;
  color: var(--dl-color-default-color4);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-rectangle1 {
  top: 8px;
  left: 393px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 12px;
}
.final-design-search {
  top: 22px;
  left: 407px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.final-design-rectangle2 {
  top: 123px;
  left: 726px;
  width: 450px;
  height: 400px;
  position: absolute;
  border-radius: 200px 200px 0;
}
.final-design-unsplashc-laaxa4d-sncremovebgpreview1 {
  top: 18px;
  left: 781px;
  width: 411px;
  height: 514px;
  position: absolute;
}
.final-design-vector186 {
  top: 359.19256591796875px;
  left: 522px;
  width: 113px;
  height: 170px;
  position: absolute;
}
.final-design-vector187 {
  top: 13px;
  left: 1137.2366943359375px;
  width: 113px;
  height: 154px;
  position: absolute;
}
.final-design-frame12 {
  gap: 24px;
  top: 732px;
  left: 96px;
  width: 256px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-frame10 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text020 {
  color: var(--dl-color-default-color2);
  width: 256px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text022 {
  color: var(--dl-color-default-color4);
  width: 196px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame11 {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-radius: 8px;
  background-color: var(--dl-color-default-color1);
}
.final-design-text024 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-arrow-right {
  width: 24px;
  height: 20px;
}
.final-design-frame14 {
  gap: 12px;
  top: 731px;
  left: 352px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-frame91 {
  width: 299.3333435058594px;
  height: 363px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(182, 181, 181, 1);
}
.final-design-pasted-image {
  width: 100%;
  height: 100%;
}
.final-design-frame13 {
  gap: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text026 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.final-design-icon {
  width: 24px;
  height: 24px;
}
.final-design-text027 {
  color: rgba(30, 30, 30, 0.5);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame15 {
  gap: 12px;
  top: 731px;
  left: 699.333251953125px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-frame81 {
  width: 299.3333435058594px;
  height: 363px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(182, 181, 181, 1);
}
.final-design-pasted-image1 {
  width: 100%;
  height: 100%;
}
.final-design-frame141 {
  gap: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text028 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.final-design-icon2 {
  width: 24px;
  height: 24px;
}
.final-design-text029 {
  color: rgba(30, 30, 30, 0.5);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame16 {
  gap: 12px;
  top: 731px;
  left: 1046.666748046875px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-frame71 {
  width: 299.3333435058594px;
  height: 363px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(182, 181, 181, 1);
}
.final-design-pasted-image2 {
  width: 100%;
  height: 100%;
}
.final-design-frame151 {
  gap: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text030 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.final-design-icon4 {
  width: 24px;
  height: 24px;
}
.final-design-text033 {
  color: rgba(30, 30, 30, 0.5);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-moonand-stars {
  top: 590px;
  left: 670px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.final-design-moonand-stars1 {
  top: 34px;
  left: 1047px;
  width: 45px;
  height: 51px;
  position: absolute;
}
.final-design-aboutus {
  top: 1304px;
  left: -54px;
  width: 1440px;
  height: 512px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-frame23 {
  gap: 48px;
  top: -1px;
  left: 96px;
  width: 1248px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.final-design-frame17 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-text034 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text036 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame22 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.final-design-frame19 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-frame18 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-group1 {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-ellipse1 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.final-design-vector {
  top: 28px;
  left: 28px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.final-design-text038 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text040 {
  color: rgba(30, 30, 30, 0.5);
  width: 400px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame20 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-frame181 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-group11 {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-ellipse11 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.final-design-vector1 {
  top: 28px;
  left: 28px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.final-design-text042 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text044 {
  color: rgba(30, 30, 30, 0.5);
  width: 400px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame21 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-frame182 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-group12 {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-ellipse12 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.final-design-telephone-outbound {
  top: 28px;
  left: 28px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.final-design-text046 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text048 {
  color: rgba(30, 30, 30, 0.5);
  width: 400px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-categories {
  top: 1802px;
  left: -43px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-frame24 {
  gap: 12px;
  top: 0px;
  left: 589px;
  width: 262px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.final-design-text050 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text052 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame25 {
  top: 183px;
  left: 0px;
  width: 1440px;
  height: 841px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-color1);
}
.final-design-frame39 {
  gap: 12px;
  top: -48px;
  left: 96px;
  width: 352px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.final-design-frame36 {
  width: 352px;
  height: 512px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-pasted-image3 {
  width: 100%;
  height: 100%;
}
.final-design-text054 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame41 {
  gap: 12px;
  top: -48px;
  left: 992px;
  width: 352px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.final-design-frame37 {
  width: 352px;
  height: 512px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-pasted-image4 {
  width: 100%;
  height: 100%;
}
.final-design-text056 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame44 {
  gap: 24px;
  top: 48px;
  left: 544px;
  width: 352px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.final-design-frame42 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-frame40 {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.final-design-frame38 {
  width: 352px;
  height: 512px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-pasted-image5 {
  width: 367px;
  height: 555px;
}
.final-design-text058 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text060 {
  color: var(--dl-color-default-color2);
  width: 352px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame43 {
  gap: 10px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-text062 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-arrow-right1 {
  width: 24px;
  height: 20px;
}
.final-design-testimonial {
  left: -64px;
  width: 1440px;
  bottom: 405px;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.final-design-text064 {
  top: 96px;
  left: 96px;
  color: rgba(0, 0, 0, 1);
  width: 457px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame45 {
  top: 240px;
  left: 96px;
  width: 800px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: var(--dl-color-default-color1);
}
.final-design-text066 {
  top: 48px;
  left: 48px;
  color: rgba(30, 30, 30, 0.75);
  width: 704px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-group9 {
  top: 126px;
  left: 13px;
  width: 150px;
  height: 205.9859161376953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-vector2 {
  top: 62px;
  left: 35px;
  width: 48px;
  height: 41px;
  position: absolute;
}
.final-design-unsplash5a-g-uy-cwp-jwremovebgpreview {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 206px;
  position: absolute;
}
.final-design-frame46 {
  top: 183px;
  left: 170px;
  width: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text068 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text070 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame48 {
  top: 240px;
  left: 944px;
  width: 800px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: var(--dl-color-default-color1);
}
.final-design-text072 {
  top: 48px;
  left: 48px;
  color: rgba(30, 30, 30, 0.75);
  width: 704px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame461 {
  top: 183px;
  left: 170px;
  width: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text074 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text076 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-group10 {
  top: 138px;
  left: 29px;
  width: 128px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-vector3 {
  top: 50px;
  left: 19px;
  width: 48px;
  height: 41px;
  position: absolute;
}
.final-design-unsplash-o3ymv-t7-wf9-uremovebgpreview {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 192px;
  position: absolute;
}
.final-design-frame47 {
  gap: 12px;
  top: 423px;
  left: 787px;
  width: 61px;
  display: flex;
  position: absolute;
  align-items: center;
}
.final-design-star-fill {
  width: 20px;
  height: 20px;
}
.final-design-text078 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame49 {
  gap: 6px;
  top: 108px;
  left: 1260px;
  width: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.final-design-rectangle3 {
  width: 48px;
  height: 6px;
  border-radius: 12px;
}
.final-design-rectangle4 {
  width: 12px;
  height: 6px;
  border-radius: 12px;
}
.final-design-rectangle5 {
  width: 12px;
  height: 6px;
  border-radius: 12px;
}
.final-design-footer {
  left: -50px;
  width: 1440px;
  bottom: 0px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-color1);
}
.final-design-frame52 {
  gap: 24px;
  top: 48px;
  left: 96px;
  width: 192px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.final-design-frame50 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text080 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Quella;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text082 {
  color: var(--dl-color-default-color4);
  width: 189px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame51 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.final-design-group11 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-ggfacebook {
  top: 14px;
  left: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.final-design-ellipse2 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.5);
  border-style: solid;
  border-width: 1px;
}
.final-design-group12 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-ellipse3 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.5);
  border-style: solid;
  border-width: 1px;
}
.final-design-riinstagramfill {
  top: 14px;
  left: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.final-design-group13 {
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.final-design-ellipse31 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(30, 30, 30, 0.5);
  border-style: solid;
  border-width: 1px;
}
.final-design-vector4 {
  top: 16px;
  left: 14px;
  width: 20px;
  height: 16px;
  position: absolute;
}
.final-design-frame56 {
  gap: 48px;
  top: 48px;
  left: 892px;
  width: 452px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.final-design-frame53 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text084 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text086 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text088 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text090 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame54 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text092 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text094 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text096 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text098 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-frame55 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.final-design-text100 {
  color: var(--dl-color-default-color2);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text102 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text104 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text106 {
  color: var(--dl-color-default-color4);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.final-design-text108 {
  top: 325px;
  left: 97px;
  color: var(--dl-color-default-color4);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
